# Logs
*.log
ssh_tunnel*.txt
!README.md
!requirements.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.db

# Node
node_modules/
# Keep client/dist for deployment
!client/dist/
.DS_Store

# IDE
.vscode/
.idea/
